services:
  lms-app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: lms-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped
